
html,body
   height: 100%
   // margin-bottom: 100px
   background-color: rgb(241, 241, 241)
   // bottom: 0px

.row
   // height: 80%



footer
   position: fixed
   bottom: 0px
   left: 0px
   width: 100%

#chat-mensajes
   height: 300px
   // border: 1px solid gray
   // border-radius: 5px
   overflow-y: scroll

.chat-input
   margin-top: 10px

.mensaje-text
   position: relative
   display: block
   padding: .75rem 1.25rem
    /* background-color: #fff; */
    /* border: 1px solid rgba(0,0,0,.125);
